{% extends "layaout.html" %}

{% block content %}
<h1>About</h1>
{% endblock %}

</ul>
</div>
  -->
  <div class="footertext"> 
        <div class="footer-col footer-col-3">
          <p>  {{ site.description | escape }}  </p>
          <ul class="social-media-list">
               {% if site.github_username %}
              <li>
                {% include icon-github.html username=site.github_username %}
               </li>
              {% endif %}
               </ul>
        </div>
             
  </div>
    
<!-- my foot image -->
 <section id="footimage"> </section>